DEPLOY_HOST=example.host
DEPLOY_USER=box
DEPLOY_SSH_PASSWORD=change-me
DEPLOY_SUDO_PASSWORD=change-me
DEPLOY_REMOTE_BIN=/usr/local/bin/clash-composer
DEPLOY_SERVICE=clash-composer.service
DEPLOY_GOOS=linux
DEPLOY_GOARCH=arm64
DEPLOY_CGO_ENABLED=0
